# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# =========================
# Django
# =========================

*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# =========================
# Node / React
# =========================

node_modules/
dist/
build/

# Vite
.vite/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db